@model ReglasAspCore.Models.Reglas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reglas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Propiedad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Propiedad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Operador)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Operador)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorComparacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorComparacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
